.authBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputBlock{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}