.nav{
    grid-area: n;
    background-color: cadetblue;
    color: white;
    padding: 10px;
}
.item a{
    color: white;
    text-decoration: none;
}
.item a.activeLink{
    color: gold
}
.logOut{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}